# dependencies
node_modules/

# builds
frontend/dist/
backend/dist/

# firebase
.firebase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env / secrets
.env
.env.*
backend/.env
frontend/.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.log
